<!-- Footer -->
<section id="footer">
    <ul class="icons" style="text-align:right;width:56%">
        <!-- <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li> -->
        <li>Uniswap: <a href="https://app.uniswap.org/#/swap?outputCurrency=0x8937041c8c52a78c25aa54051f6a9dada23d42a2" class="icon solid alt fa-shopping-cart"><span class="label">Uniswap</span></a></li><br />
        <li>DexTools: <a href="https://www.dextools.io/app/uniswap/pair-explorer/0x76d629ebad7fdf703ed5923f41f20c472e8f23e3" class="icon solid alt fa-compass"><span class="label">DexTools</span></a></li><br />
        <li>Discord: <a href="https://discord.gg/raM9cAnkdw" class="icon solid alt fa-gamepad"><span class="label">Discord</span></a></li><br />
    </ul>
    <ul class="copyright">
        <li><a href="/privacy/form.html">Privacy Information</a></li>
        <br />
        <li>This project and website are purely for the purposes of parody, and have no affiliation with McDonald's Corporation.</li>
        <!-- <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
    </ul>
</section>
