<!-- Header -->
<section id="header">
    <div class="inner">
        <h1>DISCLAIMER:</h1>
        <h4>This project and website are purely for the purposes of parody, and have no affiliation with McDonalds Corporation.</h4>
        <img src="./images/mcdc-trans.png" alt="" style="width: 276px">
        <!-- <span class="icon solid major fa-cloud"></span> -->
        <h1><strong>MCDC</strong><br /></h1>
        <p>The highest tier shitcoin on the market</p>
        <h5>Contract Address: <a href="https://etherscan.io/token/0x8937041c8c52a78c25aa54051f6a9dada23d42a2">0x8937041c8c52a78c25aa54051f6a9dada23d42a2</a></h5>
        <!-- <ul class="actions special">
            <li><a href="#one" class="button scrolly">Discover</a></li>
        </ul> -->
    </div>
</section>
