<!-- Information -->
<section id="one" class="main style1">
    <div class="container">
        <div class="row gtr-150">
            <div class="col-12 col-12-medium">
                <header class="major">
                    <h2>Useful Information</h2>
                </header>
		<h4>Contract Address: 0x8937041C8C52a78c25aa54051F6a9dAdA23D42A2 (<a href="https://etherscan.io/token/0x8937041c8c52a78c25aa54051f6a9dada23d42a2">View on Etherscan</a>)</h4>
		<h4><a href="https://www.dextools.io/app/uniswap/pair-explorer/0x76d629ebad7fdf703ed5923f41f20c472e8f23e3">Explore on DexTools</a></h4>
		<h4><a href="https://app.uniswap.org/#/swap?outputCurrency=0x8937041c8c52a78c25aa54051f6a9dada23d42a2">Buy on Uniswap</a></h4>
		<h4><a href="https://team.finance/view-coin/0x8937041C8C52a78c25aa54051F6a9dAdA23D42A2?name=McDonaldsCoin&symbol=MCDC">View Locked Liquidity on team.finance</a></h4>
		<h4><a href="https://discord.gg/raM9cAnkdw">Chat on Discord</a></h4>
            </div>
        </div>
    </div>
</section>
