<!-- One -->
<section id="one" class="main style1">
    <div class="container">
        <div class="row gtr-150">
            <div class="col-6 col-12-medium">
                <header class="major">
                    <h2>What Does MCDC Do?</h2>
                </header>
                <p>There is a desperate need waiting to be filled in the current cryptocurrency market: a classy, but not-too-classy, shitcoin. The average degen crypto ape wants a trashy, yet safe, investment to grow their hard earned funny monies. This is why we created MCDC; a completely useless, rug-proof internet coin to measure dick sizes and moon for no reason.</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
                <span class="image fit"><img src="images/pic1.jpg" alt="" /></span>
            </div>
        </div>
    </div>
</section>
