<!-- Presale -->
<section id="two" class="main style2">
    <div class="container">
        <div class="row gtr-150">
            <div class="col-12 col-12-medium">
				<header class="major">
                    <h2>PRESALE Information</h2>
                </header>
                <h3>The MCDC Presale went live on 2021/02/03 and has ended as of 2021/02/04!</h3>
		<p>The coin can now be purchased on <a href="https://app.uniswap.org/#/swap?outputCurrency=0x8937041c8c52a78c25aa54051f6a9dada23d42a2">Uniswap</a>.<br />
		   The MCDC Team is highly thankful to all presale buyers. Our future is bright!</p>
            </div>
        </div>
    </div>
</section>
