<form
action="https://formspree.io/f/xwkwzowk"
method="POST"
>
<input type="hidden" name="_subject" value="New Privacy Request from mcdcoin.finance" />
<table>
  <tr>
    <td>First Name:&nbsp;&#9;</td>
    <td>
      <input type="text" name="First Name" required>
    </td>
  </tr>
  <tr>
    <td>Last Name:&nbsp;&#9;</td>
    <td>
      <input type="text" name="Last Name" required>
    </td>
  </tr>
  <tr>
    <td>Email:&nbsp;&#9;</td>
    <td>
      <input type="email" name="_replyto" required>
    </td>
  </tr>
  <tr>
    <td>Organization:&nbsp;&#9;</td>
    <td>
      <input type="text" name="Organization">
    </td>
  </tr>
  <tr>
    <td>Message:&nbsp;&#9;</td>
    <td>
      <textarea name="Message"></textarea>
    </td>
  </tr>
  <tr>
    <td>Enter "YES" to request a copy of your personal data&nbsp;&#9;</td>
    <td>
      <input type="text" id="copy" name="Copy" value="YES">
    </td>
  </tr>
  <tr>
    <td>Enter "YES" to request the deletion of your personal data&nbsp;&#9;</td>
    <td>
      <input type="text" id="delete" name="Delete" value="YES">
    </td>
  </tr>
</table>
<br />
<br />
<input type="submit" value="Send">
</form>
