<!-- Three -->
<section id="three" class="main style1 special">
    <div class="container">
        <header class="major">
            <h2>The McRanks</h2>
        </header>
        <p>Glory can be yours, comrade.</p>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/burger-flipper1.jpg" alt="" style='height: 100%; border: 1px solid grey' /></span>
                <h3>Burger Flipper - 1K</h3>
                <p>Every day you wage and stare at the grill, thinking of how long you could hold your face on it before it kills you. Part time hours and below minimum wage.</p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/cashier1.jpg" alt="" /></span>
                <h3>Cashier - 5K</h3>
                <p>Customers are relentlessly annoying. Somedays you just want to rope, but somedays you dream of one day becoming like <em>him</em>.</p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/drive-thru1.jpg" alt="" /></span>
                <h3>Drive Thru Window - 10K</h3>
                <p>You can spit in peoples' food and get away with it. You do this constantly. </p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/store-manager1.jpg" alt="" /></span>
                <h3>Store Manager - 50K</h3>
                <p>Having underlings has given you a lust for power. You seek to amass more coins, but you are still a small fish in a big pond.</p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/franchise-owner1.jpg" alt="" /></span>
                <h3>Franchise Owner - 100K</h3>
                <p>You have begun laundering drug money through the franchise. You can spit on burger flippers whenever you visit your store.</p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/ceo1.jpg" alt="" /></span>
                <h3>CEO - 250K</h3>
                <p>You gaze out of your skyscraper everyday thinking about how far you are above the filthy streets. However, you know there is still someone who runs the city... You hope to meet him soon.</p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/mcgangbanger1.jpg" alt="" /></span>
                <h3>McGangBanger - 500K</h3>
                <p>If you burn a cigar on your servants forehead, they apologize. Your driveby car is pimped out. You don't even need to rob the bank anymore.</p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit"><img src="images/ronald-mcdonald1.jpg" alt="" /></span>
                <h3>Ronald McDonald - +1M</h3>
                <p>Godlike energy radiates from your body. You hunt wagies for sport. You are master of this clownworld and can do as you please. You have 100s of minions just to keep the filthy lower class away from you while you constantly go out on vacations.</p>
                <!-- <ul class="actions special">
                    <li><a href="#" class="button">More</a></li>
                </ul> -->
            </div>
        </div>
    </div>
</section>
