<!-- Two -->
<section id="two" class="main style2">
    <div class="container">
        <div class="row gtr-150">
            <div class="col-6 col-12-medium">
                <ul class="major-icons">
                    <li><span class="icon solid style0 major fa-hamburger"></span></li>
                    <li><span class="icon solid style0 major fa-bed"></span></li>
                    <li><span class="icon solid style0 major fa-pray"></span></li>
                    <li><span class="icon solid style0 major fa-shield-alt"></span></li>
                    <li><span class="icon solid style0 major fa-chart-line"></span></li>
                    <li><span class="icon solid style0 major fa-rocket"></span></li>
                </ul>
            </div>
            <div class="col-6 col-12-medium">
                <header class="major">
                    <h2>Pointless. Rugproof. And <br/> Oh So Juicy</h2>
                </header>
                <p>To ensure our stakeholders that their precious MCDC will be safe from a rugpull, our team has locked liqudity for 1 year (equivalent to roughly 9 years in crypto) using <a href="https://team.finance/view-coin/0x8937041C8C52a78c25aa54051F6a9dAdA23D42A2?name=McDonaldsCoin&symbol=MCDC">team.finance</a>. This means for the first twelve months, you don't constantly have to check your portfolio to make sure the dev didn't dump.</p>
                <p>Among its shitcoin competitors, only MCDC can provide you with the sort of powerful, ephemeral status that is inherent to owning cryptocurrency. From the work of leading analysts and psychologists, we have developed a superior rank system, by which you can judge the rest of the world with a sense of superiority based on the amount of MCDC they own. Our 37M supply ensures equitable opportunity for all holders to achieve glory amongst their nocoiner friends, or those not holding MCDC.</p>
                <p>On top of your rising power levels from holding MCDC, you also receive these priceless benefits:
                    <ul style="list-style-type: none">
                        <li><strong>Heartburn</strong></li>
                        <li><strong>That IDGAF attitude XP</strong></li>
                        <li><strong>Heightened sense of smell and supercharged root chakra</strong></li>
                        <li><strong>The legal right to scream at nocoiners</strong></li>
                        <li><strong>Over 9000</strong></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
