<!-- Why -->
<section id="two" class="main style2">
    <div class="container">
        <div class="row gtr-150">
            <div class="col-12 col-12-medium">
				<header class="major">
                    <h2>MCDC Update 2021/02/10</h2>
                </header>
		    <h3>I can no longer recommend that people buy this coin.</h3>
		    <p>It was a fun project while it lasted, but I no longer have confidence in the team. This was supposed to be a fun parody project.</p>
		    <p>For inquiries regarding this domain, please email mcdonaldscoinorg@protonmail.com, which is a separate email address controlled only by myself.</p>
		    <h6>Please note that the original mcdonaldscoin@protonmail.com email account may be controlled by any of over a dozen people.</h6>
		    <h3>Please be careful and trade MCDC at your own risk.</h3>
            </div>
        </div>
    </div>
</section>
