<!-- Why -->
<section id="two" class="main style2">
    <div class="container">
        <div class="row gtr-150">
            <div class="col-12 col-12-medium">
				<header class="major">
                    <h2>Why are we doing this?</h2>
                </header>
		    <h3>You've seen the short squeeze,<br />
		    you’ve seen the “meme coin”, etc.<br />
		    But that's not the purpose of McDonaldsCoin.</h3>
			<p>The coin was made to balance the power in the market in the year 2021. We are sick of this. Sick of losing our jobs, losing our businesses, losing our houses. Sick of companies raking in millions of dollars a day, billions a year pulling in the dogchow.<br />
			This coin is a way to stand up to the big businesses and the hedge funds from the safety of a decentralized network. Nothing like this has ever been done. The locked liquidity isn’t a way to fool you into buying, it is a safety net for all those who hope to buy. This could get so big that the corporations will be angry and McDonalds will thrash.</p>
            </div>
        </div>
    </div>
</section>
